@model IEnumerable<Department>

@{
    ViewData["Title"] = "Index";
}


    @if (!string.IsNullOrEmpty(TempData["Message"] as string))
    {
        <div class="alert alert-primary">
            @TempData["Message"]
        </div>
    }

<h1>All Departments</h1>
<br/>
<br />

<a asp-controller="Department" asp-action="Create" class="btn btn-primary">Create New Department</a>
<br />

@if(Model.Count() > 0)
{
    <table class="mt-4 table table-striped table-hover">
        <thead>
           <tr>
              <th>@Html.DisplayNameFor(D=>D.Code)</th>
              <th>@Html.DisplayNameFor(D=>D.Name)</th>
              <th>@Html.DisplayNameFor(D=>D.DateOfCreation)</th>
                <th><i class="fas fa-eye"></i> Details</th>
                <th><i class="fas fa-edit"></i> Update</th>
                <th><i class="fas fa-trash"></i> Delete</th>
           </tr>
        </thead>
        <tbody>
            @foreach(var department in Model)
            {
               <tr>
                   <td>@department.Code</td>
                   <td>@department.Name</td>
                   <td>@department.DateOfCreation</td>
                   <partial name="_Buttonspartial" model="@department.Id" />

               </tr> 
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
         <h3>There is No Departments : </h3>
    </div>
    
}